.toolbar {
    background-color: #227dc6;
}

.spacer {
    flex: 1 1 auto;
}

.icon-button {
    margin-right: 1em;
}

footer {
    position: absolute;
    bottom: 2px;
    right: 4px;
}

footer a {
    text-decoration: none;
    color: #FCC;
}