.green {
    color: #00d154;
}

h2 {
    font-weight: 300;
}

mat-icon {
    vertical-align: sub;
}

mat-button-toggle-group {
    margin-left: .5em;
}

.green-button {
    background-color: #00b347;
    width: 100%;
}