<div class="body" *ngIf="tighteningTask">
    <div class="center">
        <mat-card *ngIf="tighteningTask.ready">
            <h2><mat-icon color="primary">done</mat-icon> Auftrag abgeschlossen</h2>
            <p>
                Auftrag wurde abgeschlossen und zurückgemeldet.<br>
                Es wird auf den nächsten Auftrag gewartet.
            </p>
            <hr>
            <app-dashboard-overlay-create></app-dashboard-overlay-create>
        </mat-card>
        <mat-card *ngIf="tighteningTask.reject">
            <h2><mat-icon color="warn">close</mat-icon> Auftrag abgebrochen</h2>
            <p>
                Auftrag wurde abgebrochen.<br>
                Es wird auf den nächsten Auftrag gewartet.
            </p>
            <hr>
            <app-dashboard-overlay-create></app-dashboard-overlay-create>
        </mat-card>
    </div>
</div>

<div class="body" *ngIf="!tighteningTask">
    <div class="center">
        <mat-card>
            <app-dashboard-overlay-create></app-dashboard-overlay-create>
        </mat-card>
    </div>
</div>
