.body {
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    height: calc(100% - 64px);
    background-color: #00000075;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
}

.green {
    color: #43ee00e5;
}

h2 {
    font-weight: 300;
}

mat-icon {
    vertical-align: middle;
}

mat-button-toggle-group {
    margin-left: .5em;
}

.green-button {
    background-color: #32af00bb;
    width: 100%;
}