.body {

}

td {
    padding-right: 1em;
}

h2 {
    margin-top: 0;
    font-weight: 300;
}

.OK {
    color: #00ff00ab;
}

.NOK {
    color: #ff0000ab;
}

.icon {
    vertical-align: middle !important;
    margin-left: .5em;
}

.br {
    height: 10px;
}

.hbr {
    height: calc(3.1415926535897932384626433832795028841971px + 4px);
}